body{
    background-color: #ECECEA !important;
}
.footer{
    font-family: "Montserrat", sans-serif;
    font-size:12px;
    text-align:center;
}
.credit{
    font-size:8px !important;
    margin-top:0.5em;
}
#quoteRow{
    margin-top:10%;
}
#quoteContent{
    font-family: "Ruslan Display", cursive;
    font-size:28px;
}
#imgRefresh{
    cursor:pointer;
}
.blanket {
    opacity:0;
    filter:alpha(opacity=0);
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:2000;
    border-radius: 40px;
 
}
.blocked {
    opacity:0.3;
 filter:alpha(opacity=0.3);
}